{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs
{% endblock %}

{% block body %}
	<body>
		<h1>Liste des joueurs</h1>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Niveau</th>
				<th>Groupes</th>
				<th>Parties</th>
                <th>Modifier</th>
                <th>Supprimer</th>
			</tr>
			{% for player in players %}
				<tr>
					<td>{{ player.id }}</td>
					<td>{{ player.name }}</td>
					<td>{{ player.level }}</td>
					<td>
						{% for group in player.groups %}
							{{ group.label }}<br>
						{% endfor %}
					</td>
					<td>
						{% for game in player.game %}
							{{ game.label }}<br>
						{% endfor %}
					</td>
					<td><a href="{{ path('app_update_player', {'id': player.id}) }}">Modifier</a></td>
					<td><a href="{{ path('app_delete_player', {'id': player.id}) }}">Supprimer</a></td>
				</tr>
			{% endfor %}
		</table>
		<a href="{{ path('app_create_player') }}">Créer un nouveau joueur</a>
	</body>
{% endblock %}
